<html>
<head>
	<title>Help?</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    {{> googleAnalytics}}
</head>
<body>
	<div class="container">
        <div>
            <h1>Help Center</h1>
                <h2>Welcome to the Customer Help  Center</h2>
                 <p>Need help with the app? There are several ways to find answers:</p>

        </div>

        <p><li>Browse the help topic at below</li>
            <li>Email us</li>
            <li>Call us at 858-405-0497</li>
        </p>

        <h2>Frequently Asked Questions</h2>
        <p>
            1. What is the purpose of the app?
            <p>We are too absorbed in the digital world and need to interact more with the physical world.
We intend to make an APP for people who are interested in testing the sound of various music instruments. We are using sound feedback to enrich user’s exploration on different sounds of instruments.
        </p>
        <p>
            2.How to use the app to make sound?
         <p>   Go to home page, click on whatever musical instrument you want.Follow the tutorial or click the start button on instument info page. Shake your phone to make sound of that instrument!
            
        </p>
        <p>
            3.How to change password and user name?
         <p>   Go to home My Recordings, click on the profile photo or the edit button. Change your profile info there!
        </p>
        <p>
            4.Can I save the music I made?
         <p>   Yes! To save your own music, press the recording button and stop recording to save the file when you making sound of a specific instrument. Go to My recordings to find all recordings you have made.
        </p>





       

        <div>

            
        </div>
            <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container text-center">
            {{!-- <noscript>
                <a type="button" class="btn btn-default navbar-btn" href="/" title="back" data-name="0">Back</a>
                <a type="button" class="btn btn-default navbar-btn" href="/" title="home" data-name="1">Home</a>
                <a type="button" class="btn btn-default navbar-btn" href="/recordings" title="recordings" data-name="2">My
                    Recordings</a>
                <a type="button" class="btn btn-default navbar-btn" href="/profile" title="profile" data-name="3">Profile</a>
            </noscript> --}}
            <button type="button" class="btn btn-default navbar-btn" title="recordings" data-name="2">My Recordings</button>
            <button type="button" class="btn btn-default navbar-btn" title="home" data-name="1">Home</button>
            <button type="button" class="btn btn-info navbar-btn" title="back" data-name="0">Back</button>
            {{!-- <button type="button" class="btn btn-default navbar-btn" title="profile" data-name="3">Profile</button> --}}
        </div>
    </nav>

        

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="/js/instrument.js"></script>
</body>
</html>
