<!DOCTYPE html>
<html>

<head>
    <title>Group 3 App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="/css/customstyle.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="home-container">
        

        
        <div class="homeS-buttons">

            <button onclick="window.location.href = '/instruments';">Instrument Library</button>

            <button onclick="window.location.href = '/recordings';">My Recordings</button>

            <button onclick="window.location.href = '/profile';">Profile</button>

        </div>

        <div class="row">
            <div class="column">
                <p><a href="/help">Help?</a></p>
            </div>
            <div class="column">
                <p><a href="/">Login</a></p>
            </div>
        </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>