<!DOCTYPE html>
<html>

<head>
    <title>Group 3 App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="/css/customstyle.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
</head>

<body>
    <div class="home-container">
        

        
        <div class="homeM-buttons">

            <button onclick="window.location.href = '';">Instrument Library</button>

            <button onclick="window.location.href = '';">My Recordings</button>

            <button onclick="window.location.href = '';">Profile
            </button>


        </div class="footerH" style="vertical-align: bottom">
            <table style="width: 100%" border="0">
                <tfoot align="center">
                    <tr>
                        <td>
                            <p><a href="">Help?</a></p>
                        </td>
                        <td>
                            <p><a href="">Login</a></p>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <div class="col-lg-6">
                
            </div>
        </div>


    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>

</html>