<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/instruments.css" rel="stylesheet">
    <script src="/js/holder.min.js"></script>
</head>

<body>

    <header></header>

    <main role="main">

        <div class="row">
            <div class="col-xs-offset-1 col-xs-10 col-md-9 col-lg-3 col-lg-offset-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" data-name="4">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div>
        </div><!-- /.row -->

        {{!-- <div class="row text-center"></div>
        {{#each instruments}}
            <a href="#"><img src="{{imageURL}}" class="img-rounded img-thumbnail rounded float-left "
                    alt="{{name}}"></a>
        {{/each}}
        </div> --}}

        <div class="row text-center">
            <a href="#"><img src="/images/icons/conga-outline.2x.png" class="img-rounded img-thumbnail rounded float-left "
                    alt="..."></a>
            <a href="#"><img src="/images/icons/goblet-drum-outline.2x.png" class="img-rounded img-thumbnail rounded float-none"
                    alt="..."></a>
            <a href="#"><img src="/images/icons/maraca-outline.2x.png" class="img-rounded img-thumbnail rounded float-right"
                    alt="..."></a>
        </div>

        <div class="row text-center">
            <a href="#"><img src="/images/icons/pan-flute-outline.2x.png" class="img-rounded img-thumbnail rounded float-left"
                    alt="..."></a>
            <a href="#"><img src="/images/icons/snare-drum-outline.2x.png" class="img-rounded img-thumbnail rounded float-none"
                    alt="..."></a>
            <a href="#"><img src="/images/icons/tambourine-outline.2x.png" class="img-rounded img-thumbnail rounded float-right"
                    alt="..."></a>
        </div>

        <div class="row text-center">
            <a href="#"><img src="/images/icons/conga-outline.2x.png" class="img-rounded img-thumbnail rounded float-left"
                    alt="..."></a>
            <a href="#"><img src="/images/icons/goblet-drum-outline.2x.png" class="img-rounded img-thumbnail rounded float-none"
                    alt="..."></a>
            <a href="#"><img src="/images/icons/maraca-outline.2x.png" class="img-rounded img-thumbnail rounded float-right"
                    alt="..."></a>
        </div>

        <div class="row text-center">
            <a href="#"><img src="/images/icons/triangle-outline.2x.png" class="img-rounded img-thumbnail rounded float-left"
                    alt="..."></a>
            <a href="#"><img src="/images/icons/maraca-outline.2x.png" class="img-rounded img-thumbnail rounded float-none"
                    alt="..."></a>
            <a href="#"><img data-src="holder.js/100x100?text=More...&theme=vine" class="img-rounded rounded float-right"
                    alt="..."></a>
        </div>

        {{!-- <div class="row text-center">
            <a href="#"><img data-src="holder.js/100x100" class="img-rounded .img-thumbnail rounded float-left" alt="..."></a>
            <a href="#"><img data-src="holder.js/100x100" class="img-rounded .img-thumbnail rounded float-none" alt="..."></a>
            <a href="#"><img data-src="holder.js/100x100" class="img-rounded .img-thumbnail rounded float-right" alt="..."></a>
        </div>

        <div class="row text-center">
            <a href="#"><img data-src="holder.js/100x100" class="img-rounded .img-thumbnail rounded float-left" alt="..."></a>
            <a href="#"><img data-src="holder.js/100x100" class="img-rounded .img-thumbnail rounded float-none" alt="..."></a>
            <a href="#"><img data-src="holder.js/100x100?text=More...&theme=vine" class="img-rounded .img-thumbnail rounded float-right"
                    alt="..."></a>
        </div> --}}

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container text-center">
                {{!-- <noscript>
                    <a type="button" class="btn btn-default navbar-btn" href="/" title="back" data-name="0">Back</a>
                    <a type="button" class="btn btn-default navbar-btn" href="/" title="home" data-name="1">Home</a>
                    <a type="button" class="btn btn-default navbar-btn" href="/recordings" title="recordings" data-name="2">My Recordings</a>
                    <a type="button" class="btn btn-default navbar-btn" href="/profile" title="profile" data-name="3">Profile</a>
                </noscript> --}}
                <button type="button" class="btn btn-info navbar-btn" title="back" data-name="0">Back</button>
                <button type="button" class="btn btn-default navbar-btn" title="home" data-name="1">Home</button>
                <button type="button" class="btn btn-default navbar-btn" title="recordings" data-name="2">My Recordings</button>
                <button type="button" class="btn btn-default navbar-btn" title="profile" data-name="3">Profile</button>
            </div>
        </nav>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/instrument.js"></script>
</body>

</html>