<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accelerometer</title>
    

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/accelerometer.css" rel="stylesheet">
    {{> googleAnalytics}}
</head>

<body>
    <div class="garden">
        <div class="ball"></div>
    </div>

    <pre class="output"></pre>
    <script src="/js/accelerometer.js"></script>
</body>

</html>