.home-container {
	height: 100vh;
	margin: 0;
	position: relative;
}

.homeS-buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.homeS-buttons button {
	padding: 20px;
	text-align: center;
	background-color: white;
	margin: 5vh auto;
	margin-bottom: 15vh;
	width: 50vw;
	display: block;
}

.row {
	position: relative;
	top: 93vh;
}

.column {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}
