.home-buttons {
	
}

.home-buttons button {
	padding: 10px;
	text-align: center;
	background-color: white;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 25px;
	width: 65%;
	display: block;
}

.footer p {
	display: inline-block;
	text-align: center;
}