.home-container {
	height: 100vh;
	margin: 0;
	position: relative;
}

.homeS-buttons {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.homeS-buttons button {
	padding: 20px;
	text-align: center;
	background-color: white;
	margin: 5vh auto;
	margin-bottom: 15vh;
	width: 50vw;
	display: block;
}

.row {
	position: relative;
	top: 93vh;
}

.column {
	position: relative;
	float: left;
	width: 50%;
	text-align: center;
}

.mRHeader {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 45px;
	margin-left: 0;
	margin: 0;
	margin-bottom: 0;
	align-items: center;
	border-bottom: 1px solid transparent;
	background-color: #f8f8f8;
  	border-color: #e7e7e7;
}

.mRHeader h3 {
	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
}

.recordList {
	padding-top: 40px;
	padding-bottom: 75px;
}

.recordList ul {
	margin: 0;
	padding: 0;
}

.recordList ul li {
	position: relative;
	list-style-type: none;
	padding: 10px 10px 20px 10px;
	font-size: 16px;
}

.mRcolumn {
	position: relative;
	padding-top: 2px;
	float: left;
	width: 50%;
	border-bottom: 2px solid;
	border-color: #f8f8f8;
}

.mRTitle {
	padding-bottom: 0;
	padding-top: 20px;
}

.mRDate {
	font-size: 10px;
	padding: 0;
	float: left;
	display: inline;
	color: #a0a0a0;
}

.mRLength{
	font-size: 10px;
	padding: 0;
	float: right;
	display: inline;
	color: #a0a0a0;
}


