.home-container {
	height: 100vh;
}

.homeM-buttons button {
	padding: 10px;
	text-align: center;
	background-color: white;
	margin: auto;
	margin-top: 15vh;
	margin-bottom: 15vh;
	width: 60%;
	display: block;
}
