    body {
    padding-top: 54px;
  }

  .aThumb {
      display: inline-block;
      max-width: 100%;
      height: auto;
      padding: 4px;
      line-height: 1.42857143;
      background-color: #fff;
      border-radius: 4px;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
  }

  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
    .myScreen {
      padding-left: 35%;
      padding-right: 35%;
      padding-bottom: 5%;
    }
    .row {
      margin-left: 93px;
    }
  }

  .row {
    padding: 15px;
  }
