body {
	background-color: rgb(241, 239, 239);
}
h1 {
	font-family: 'Lobster', cursive;
	text-align: center;
	margin-top: 10%;
}
.roundbutton{
	width:20%;
	height: 100%;
	border-radius:100px;
}
.row {
	width: 80%;
	margin-top: 50%;

}
.containerPad {
	/* display: none; */
	margin-top: 15%;
}
.img{
	/* width:80%;
	box-shadow: 0 30px 40px rgba(0,0,0,.05); */

	border: 1px solid gray;
	border-radius: 10%; 
	display: block;
  	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
  	width: 60%;
}

#stopButton{
	display:none;
}
#startButton{
	display:block;
}
#contID {
	padding-left: 20%;
}

#startBtn{
	margin-top: 7%;
	/* display: none; */
}
#audioCont {
	/* display: none; */
}
.save {
	display: none;
}